{% extends "html/index.html" %}
{% load static %}
{% block content %}
{% include 'registration/signup-login-nav.html' %}
<div class="signup-botom-header">movieposter</div>
<a class="no-internet-logo">
    <img src="{% static 'images/error.png' %}" class="login-logo" alt="No Image Found">
</a>
<div class="login-page">
    <form class="login-form" action="log" method="POST">
        {% csrf_token %}
        <input type="text" name="username" placeholder="I'm chitti">
        <input type="password" name="password" placeholder="password">
        <button type="submit" class="login-button">Login</button>
        <p class="message">Already Registerd? <a href="{% url 'signup' %}">Registration</a></p>
        {% include 'html/partial.html' %}
    </form>
</div>
{% include 'registration/footer.html' %}
{% endblock content %}


