{% extends "html/index.html" %}
{% block content %}
{% include 'registration/signup-login-nav.html' %}
<div class="login-page">
    <form class="login-form" action="log" method="POST">
        {% csrf_token %}
        <input type="text" name="username" placeholder="I'm chitti">
        <input type="password" name="password" placeholder="password">
        <button type="submit" class="login-button">Login</button>
        <p class="message">Already Registerd? <a href="{% url 'signup' %}">Registration</a></p>
    </form>
</div>
{% endblock content %}


